body{
	padding: none;
	margin: 0;
	font-family: trebuchet, sans-serif;
	font-weight: bold;
}

a{
	text-decoration: none;
	color: black;
}

#navbar{
	display: flex;
	background-color: black;
}
	#navbar a:hover{background-color: gray;}
	#navbar p{padding: 0 1vw; color: white;}
	.align_left{display: flex; justify-content: space-evenly; width: 40%;}
	
#description{
	width: 100vw; 
	height: 30vh; 
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5vh 0;
}
	.img1_description{width: 10vw;}
.box_description{
	display: flex; 
	justify-content: space-evenly;
	width: 100vw;
	margin-top: 10vh;
}
	.box1, .box2, .box3, .box4{width: 5vw; height: 10vh; box-shadow: }
	.box1 a, .box2 a, .box3 a, .box4 a{color: black; background-color: gray; text-decoration: none; padding: 0 1.85vw;}
	.box1 a:hover, .box2 a:hover, .box3 a:hover, .box4 a:hover{color: white; background-color: black; text-decoration: none;}
	.box1:hover, .box2:hover, .box3:hover, .box4:hover{width: 30vw; height: 30vh; transition: 1s; cursor: pointer;}
		.box1{background-image: url('screen1visualstudio.png'); background-size: cover;}
		.box2{background-image: url('screen2visualstudio.png'); background-size: cover;}
		.box3{background-image: url('screen3visualstudio.png'); background-size: cover;}
		.box4{background-image: url('screen4visualstudio.png'); background-size: cover;}
	
#link_container{
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	bottom: 0;
	width: 100vw;
	background-color: #29E97A;
}
	#link_container a:hover{text-decoration: underline;}